body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #333;
}

/* Style for the charts */
#chart1, #chart2 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.bar {
    fill: skyblue;
}

.dot {
    fill: red;
}
